@import "colors";
@import "dimens";
@import "header";
@import "form";
@import "main";
@import "footer";

* {
    padding: 0px;
    margin: 0px;
    color: $colorOnBackground
}
body {
    background-color: $colorBackground; 
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}


